* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    }
    
    body {
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans', sans-serif;       
    }
            
    p {
        padding: 0px;
        margin: 0px;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 2px;
    }
       
    .halamanpertama {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100vh;
        background-image: url(assets/main-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .main-navbar {
        display: flex;
        margin-left: 200px;
    }

    .regis {
        display: flex;
        margin-left: 600px;
    }

    .content-pertama {
        margin-top: 50px;
    }

    .judul-keterangan {
        display: grid;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
   
    .d-flex {
        padding-top: 20px;
        padding-bottom: 20px;
    }

     .scroll-down { 
        margin-top: 150px;
    } 

    .teks-untuk-scrdwn {
        display: flex;
        color: white; 
        font-size: 10px;
        justify-content: center;
    }

    .gbrscrolldown {
        display: flex;
        padding-left: 50%;
        padding-right: 50%;
    }
    
    .halamankedua {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100vh;
        display: flex;
        background-image: url(assets/the-games-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .teksPertama {
        display: block;
        margin-top: 80px;
    }

    .teksKedua {
        font-size: 50px;
        margin-left: 100px;
    }

    .carousel-item {
        margin-top: 50px;
    }

    .halamanketiga {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100vh;
        background-image: url(assets/features.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .teksPertamapgthree {
        padding: 0;
        margin: 0;
        display: flex;
        padding-top: 100px;
        padding-left: 900px;
    }

    .teksKeduapgthree {
        padding: 0;
        margin: 0;
        display: flex;
        font-size: 50px;
        padding-left: 900px;
    }

    .contentpgthree-satu {
        padding: 0;
        display: flex;
        align-content: center;
        padding-left: 900px;
    }

    .teks-pgthree-satu {
        color: #ffb548;
        letter-spacing: 0.5px;
        padding-left: 25px;
    }

    .contentpgthree-dua {
        padding: 0;
        display: flex;
        padding-left: 910px;
    }

    .vertikal {
        background-color: white;
        margin-top: 0px;
        width: 1px;
        height: 90px;
        background-color: white;
    }

    .teks-pgthree-dua {
        color: white;
        letter-spacing: 0.3px;
        font-size: 15px;
        padding-left: 30px;
        width: 300px;
        text-align: left;
    }

    .contentpgthree-tiga {
        padding: 0;
        display: flex;
        align-content: center;
        padding-left: 900px;
    }

    .teks-pgthree-tiga {
        color: #ffb548;
        letter-spacing: 0.5px;
        padding-left: 25px;
    }

    .contentpgthree-empat {
        padding: 0;
        display: flex;
        align-content: center;
        padding-left: 900px;
    }

    .teks-pgthree-empat {
        color: #ffb548;
        letter-spacing: 0.5px;
        padding-left: 25px;
    }

    .halamankeempat {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.8)), url(assets/requirements.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .contentpgfour-tekspertama {
        font-size: 15px;
        color: white;
        margin-top: 0px;
        text-align: center;
        padding-top: 50px;
        
    }

    .contentpgfour-tekskedua {
        font-size: 50px;
        color: white;
        padding-top: 70px;
        width: 500px;
        margin-left: 80px;
    }

    .baris-1 {
        display: flex;
        color: white;
        height: 120px;
        width: 500px;
        margin-left: 80px;
    }

    .baris-2 {
        display: flex;
        color: white;
        height: 120px;
        width: 500px;
        margin-left: 80px;
    }

    .grid-1-1 {
        border: 1px solid #27292A;
    }

    .grid-1-2 {
        border: 1px solid #27292A;
    }

    .grid-2-1 {
        border: 1px solid #27292A;
    }

    .grid-2-2 {
        border: 1px solid #27292A;
    }

    .grid-3 {
        color: white;
        border: 1px solid #27292A;
        height: 120px;
        width: 500px;
        margin-left: 80px;
    }

    .header-req {
        color: #ffb548;
        font-size: 20px;
        padding-top: 10px;
        padding-left: 15px;
        padding-bottom: 10px;
    }

    .body-req {
        padding-left: 15px;
        padding-right: 15px;
    }

    .halamankelima {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100vh;
        background-image: url(assets/top-score-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        
    }

    .contentpgfive-tekskedua {
        font-size: 50px;
        color: white;
        width: 500px;
        margin-left: 80px;
        padding-top: 200px;
    }

    .contentpgfive-tekspertama {
        font-size: 15px;
        color: white;
        margin-left: 80px;
        padding-top: 10px;
        width: 300px;
        margin-right: 0px;
    }

    .right-side {
        margin-left: 200px;
        /* border-radius: 5px;
        background-color: #ffb548; */
    }

    .header-kartu {
        display: flex;
        padding-bottom: 10px;
    }

    .teks-blok {
        display: block;
        padding-left: 20px;
        padding-right: 90px;
    }

    .pgfive-twitter {
        width: 20px;
        height: 20px;
        
    }

    .kartu-pertama {
        padding: 20px;
        background-color: #191a1b;
        border-radius: 5px;
        width: 400px;
        height: 170px;
        margin-top: 30px;
        margin-left: 100px;
    }

    .kartu-kedua {
        padding: 20px;
        background-color: #191a1b;
        border-radius: 5px;
        width: 400px;
        height: 210px;
        margin-top: 20px;
    }

    .kartu-ketiga {
        padding: 20px;
        background-color: #191a1b;
        border-radius: 5px;
        width: 400px;
        height: 210px;
        margin-top: 20px;
        margin-left: 100px;
    }

    .pgfive-imgsatu {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        position: absolute;
    }

    .pgfive-imgdua {
        width: 75px;
        height: 70px;
        padding-left: 7px;
        padding-top: 3px;
    }

    .pgfive-tekssatu {
        color: #ffb548;
        font-size: 20px;
        letter-spacing: 0.8px;
        width: 150px;
    }

    .pgfive-teksdua {
        color: #535354;
    }

    .pgfive-tekstiga {
        color: white;
        padding-bottom: 18px;
    }

    .pgfive-teksempat {
        color: #535354;
        font-size: 12px;
    }

    .halamankeenam {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100vh;
        background-image: url(assets/newsletter.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .pgsix-upsd {
        display: flex;
        margin-left: 200px;
        padding-top: 100px;
    }

    .img-pgsix {
        width: 65%;
        height: auto;
    }

    .pgsix-teksone {
        color: white;
        font-size: 15px;
        width: 130px;
    }

    .pgsix-tekstwo {
        padding-top: 20px;
        color: white;
        font-size: 50px;
        width: 200px;
    }

    .pgsix-teksthree {
        padding-top: 20px;
        color: white;
        font-size: 13px;
        width: 450px;
    }

    .horizontal-grs {
        width: 1000px;
        height: 2px;
        display: flex;
        background-color: #535354;
        margin-left: 30vh;
    }

    .menu {
        display: flex;
        text-decoration: none;
        padding-left: 400px;
        padding-right: 400px;
        justify-content: space-between;
        font-size: 8px;
        font-weight: bold;
        color: white;
        overflow: hidden;
        list-style: none;
        margin-top: 80px;
        margin-bottom: 20px;

    }
    .btnfooter {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        background-color: none;
    }

    .ftr-bwh {
        margin-top: 30px;
        display: flex;
        margin-top: 20px;
    }
    
    .tesk-bawah {
        color: #656667;
    }

    .menu-nav-bwh {
        display: flex;
        margin-left: 50px;
        padding-left: 100px;
        padding-right: 100px;
        font-size: 10px;
        float: right;
        text-decoration: none;
        color: white;
        border-right-color: white;
        overflow: hidden;
        justify-content: space-between;
    }